@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    /*background: #181D2C;*/
    background: #000000;
    color: rgba(239, 56, 56, 0.86);
    font-family: 'Sarala', sans-serif;
}

.navegacaoHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
    padding: 20px;
}

.headerLinks{
    text-decoration: none;
    color:rgba(194, 0, 0, 0.86);    ;
}

.conteudoImagem{
    display: flex;
    justify-content: center;
    padding: 120px;
}

.imagemConteudo{
    width: 350px;
}

.conteudoPesquisa{
    display: flex;
    justify-content: center;
    padding: 25px;
    gap: 1px;
}

.conteudoBotaoPesquisa{
    display: flex;
    justify-content: center;
}

.campoPesquisa{
    width: 350px;
    border-radius: 10px;
    text-align: center;
    background: rgba(194, 0, 0, 0.86);
    box-shadow: 8px 8px 8px rgba(207, 188, 188, 0.2);
}

.campoPesquisa:hover{
    background: rgba(184, 57, 57, 0.86);
}

input{
    color: aliceblue;
}

input::placeholder{
    color: aliceblue;
}

#botaoPesquisa{
    border-radius: 50px;
    width: 80px;
    text-align: center;
    cursor: pointer;
    font-size: 1.2em;
    background: rgba(194, 0, 0, 0.86);
    border: 0;
    color: aliceblue;
    box-shadow: 4px 4px 4px rgba(207, 188, 188, 0.2);
}

#botaoPesquisa:hover{
    background: rgba(184, 57, 57, 0.86);
    box-shadow: 4px 4px 4px rgba(207, 188, 188, 0.2);
    text-shadow: none;
}

.conteudoLabel{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 15px;
}

.footer{
    display: flex;
    justify-content: center;
    padding: 130px;
}